.admin-role-container-slim-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    width: 100%;
    color: #D8F3FF;
    margin: 1% auto;
}

@media (max-width: 768px) {
    
    .admin-role-container-slim-2 {
        display: flex;
        flex-direction: column;
        height: 100px;
    }
}