.search-container {
    display: flex;
    margin: 10px auto;
    flex-direction: column;
    align-items: center;
}

input[type='range'] {
    display: block;
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}

input[type='range']:focus {
    outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #F15422;
    width: 21px;
    height: 21px;
    border: 3px solid #D8F3FF;
    border-radius: 50%;
    margin-top: -9px;
}

input[type=range]::-moz-range-thumb {
    background-color: #F15422;
    width: 16px;
    height: 16px;
    border: 3px solid #D8F3FF;
    border-radius: 50%;
}

input[type=range]::-ms-thumb {
    background-color: #F15422;
    width: 21px;
    height: 21px;
    border: 3px solid #D8F3FF;
    border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: #F15422;
    height: 5px;
    -webkit-appearance: none;
    background-image:linear-gradient(to right, #D8F3FF calc(var(--value)*1%), #D8F3FF 0);
}

input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
}

input[type=range]::-moz-range-track {
    background-image:linear-gradient(to right, #D8F3FF calc(var(--value)*1%), #D8F3FF 0);
    height: 5px;
}

input[type=range]::-ms-track {
    background-color: #D8F3FF;
    height: 3px;
}


.form-login-container {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: #EBEBEB;
}

.login-container {
    background-color: #282c34;
    color: #D8F3FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120%;
    height: max-content;
    max-width: 400px;
    padding: 25px 30px;
    border-radius: 3px;
}

.input-login {
    border-radius: 3px;
    border: 1px solid #F15422;
    height: 32px;
    width: 100%;
    padding-left: 15px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
}

.input-label-search {
    display: flex;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
    color: #0E1428
}

.login-labelAndInput {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 10px;
    margin-bottom: 5px;
}

.title-login {
    font-size: 25px;
    font-weight: 800;
    position: relative;
    margin-bottom: 8px;
}

.form-group-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
}

.recover-pwd {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 10px;
    
}

.input-Login {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #0E1428;
}

.input-login:focus {
    outline: 0;
    border-color: #D8F3FF;
}

@media (max-width: 584px) {
    .login-labelAndInput {
        width: 100%;
    }
}

@media (max-width: 390px) {}