.container-users  {
    display: flex;
    flex-direction: row;
     flex-wrap: wrap; 
    justify-content: center;
    width: 95%;
    gap: 2%;
    margin: 5% auto;
    background-color: #ebebeb;
}

.containerUsers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-users {
    width: 20rem; 
    margin-bottom: 2%;
    height: 27rem;
    background-color: #282c34; 
    border: 2px solid #F15422;
}

.title-users {
    height: 30px; 
    margin-top: 5%; 
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.1rem;
    color: #D8F3FF;
}

.info-users {
    position: relative;
    text-align: center;
    color: #D8F3FF;
}
