@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins',
    sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.star-rating {
  display: inline-block;
}

.star-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.star {
  font-size: 1.5rem;
  color: gray;
}

.star-button.on .star,
.star-button.off .star:hover {
  color: #F15422;

}

.starShow{
  color: #F15422;
}

.error-message {
  color: red;
  font-size: 18px;
}

.custom-button {
  border-color: #F15422;
  color: #F15422;
  margin: 5px;
}

.custom-button:hover {
  background-color: #F15422;
  color: #D8F3FF;
}

.custom-review-button {
  border-color: #F15422;
  color: #F15422;
  margin: 2px;
  padding: 3px 8px;
}

.custom-review-button:hover {
  background-color: #F15422;
  color: #D8F3FF;
}

.nav-link {
  color: #F15422;
}

.navbar-toggler {
  color: #F15422;
  border: var(--bs-border-width) solid #F15422;
}